pandas
requests
BeautifulSoup
gender-guesser
numpy
nltk
spacy
scikit-learn

##


openai==0.27.7
beautifulsoup4==4.12.2
requests==2.31.0
ipykernel
pandasai
numpy
matplotlib
seaborn
#scikit-learn
tensorflow
keras
nltk
gensim
spacy
torch
transformers
llama-cpp-python
selenium
danlp
evaluate
transformers_interpret
wandb
dataset 
optuna
